In [1]:
import pandas as pd
import math
import numpy as np
from scipy.stats import norm
from numpy import dot
from numpy.linalg import norm
import datetime
import random

global after

In [29]:
df = pd.read_csv('dataset.csv', encoding='utf-8')

수치형 유용성 테스트 4개

In [5]:
def mean_attr(X,Y,Z): # U1 : Mean Attribute (10%) # 평균값의 차이
    # 낮을수록 좋다
    # x=df1, y=df2, z=column
    a = X[Z][0]
    try:
            a == int(a) ## 만약 숫자를 입력하지 않는  다면 예외처리!
    except ValueError:
            print("Input number value!")
            pass
            return
        
    meanDiff=X[Z].mean()-Y[Z].mean()
    return abs(meanDiff)

In [6]:
print(mean_attr(df,df2,'age'))

NameError: name 'df2' is not defined

In [7]:
print(mean_attr(df,df,'age'))

0.0

In [8]:
def mean_corr(X,Y,Z): # U2 : Mean Correlation (10%)
    # 1에 가까울수록 좋음
    # x=df1, y=df2, z=column
    a = X[Z][0] ## 데이터 하나를 추출하여 int형으로 강제 형변환 한것과 비교,,, 같은 경우 정수형으로 보고 인식
    try:
            a == int(a) ## 만약 숫자를 입력하지 않는  다면 예외처리!
    except ValueError: ## 값이 일치하지 않을 경우
            print("Input number value!") ## 에러메세지 출력
            pass
            return ## NULL 값 반환(아무것도 반환 안함)
    df_corr = pd.DataFrame({'x': X[Z], 'y': Y[Z]}) ## KL과정을 거치기 전 df X와 거친 후 Y의 Z열(KL처리를 한 항목) 값을 받아서 데이터프레임 생성
    print(df_corr.corr(method='pearson'))
    meanCorr=df_corr.corr(method='pearson') ## 피어슨 상관계수 계산 (df 자체적으로 돌아감)
    return abs(meanCorr.iloc[0,1]) ## 피어슨 상관계수 값 추출 0,1 즉 서로 다른 열을 계산한 값을 출력함,,,, 아래의 출력창 참고

In [9]:
mean_corr(df, df2, 'age')

NameError: name 'df2' is not defined

In [10]:
mean_corr(df, df, 'age')

     x    y
x  1.0  1.0
y  1.0  1.0

1.0

In [11]:
def cos_sim(X, Y, Z): # U3 : Cosine Similarity (10%)
    # x=df1, y=df2, z=column
    a = X[Z][0]
    try:
            a == int(a) ## 만약 숫자를 입력하지 않는  다면 예외처리!
    except ValueError:
            print("Input number value!")
            pass
            return
    meanSim = dot(X[Z],Y[Z])/(norm(X[Z])*norm(Y[Z]))    
    return meanSim

In [12]:
def info_loss(X, Y): # U4 : Information Loss (15%)
    # 미완
    # X.shape = Y.shape
    total = 0
    value = 0
    for i in range(len(Y.index)): # total 산출
        for j in range(len(Y.columns)):
            value=abs(X.iloc[i,j]-Y.iloc[i,j])/abs(X.iloc[i,j])
            total+=value 
    return total/len(Y.columns)*len(Y.index)

In [13]:
cos_sim(b, c, 'age')

NameError: name 'b' is not defined

문자열 유용성 2개

In [ ]:
def Jaccard_similarity(doc1, doc2):
    # 높을수록 좋음
    doc1 = set(doc1)
    print('doc1 : ', doc1)
    doc2 = set(doc2)
    print('doc2 : ', doc2)
    print('return len(doc1 & doc2) / len(doc1 | doc2) : ', len(doc1 & doc2) / len(doc1 | doc2))
    return len(doc1 & doc2) / len(doc1 | doc2)

In [ ]:
def levenshtein(s1, s2, debug=False):
    # 작을수록 좋음
    if len(s1) < len(s2):
        return levenshtein(s2, s1, debug)

    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1
            deletions = current_row[j] + 1
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))

        if debug:
            print(current_row[1:])

        previous_row = current_row

    return previous_row[-1]

In [ ]:
Jaccard_similarity('012345678','프린트를 보고싶다')

In [ ]:
levenshtein('NAH', '우리는 아직 배고프다', debug=False)

In [ ]:
cos_sim(a, b, 'age')

In [ ]:
Jaccard_similarity(a['sex'], b['sex'])

In [ ]:
sum=0
for i in a.columns : 
    sum+=levenshtein(a[i], b[i], debug=False)

In [ ]:
sum/len(a.columns) ## 바뀐 준식별자 리스트 길이

In [ ]:
df

In [30]:
# category 중앙값 계산
df
a= pd.cut(df['age'],5)
b = (str(a[0]).strip('(]').split(', ')[0])
try :
    float(b)
    print('True')
except ValueError :
    pass
a

True

0     (22.962, 30.6]
1       (30.6, 38.2]
2       (30.6, 38.2]
3       (30.6, 38.2]
4     (22.962, 30.6]
5     (22.962, 30.6]
6       (30.6, 38.2]
7       (53.4, 61.0]
8       (45.8, 53.4]
9       (30.6, 38.2]
10      (45.8, 53.4]
11    (22.962, 30.6]
12      (53.4, 61.0]
13      (53.4, 61.0]
14    (22.962, 30.6]
15      (38.2, 45.8]
16      (38.2, 45.8]
17      (38.2, 45.8]
18      (45.8, 53.4]
19      (45.8, 53.4]
Name: age, dtype: category
Categories (5, interval[float64]): [(22.962, 30.6] < (30.6, 38.2] < (38.2, 45.8] < (45.8, 53.4] < (53.4, 61.0]]

In [31]:
df['age'] =df['age'].astype('str')

In [32]:
df['age']

0     27
1     34
2     35
3     36
4     28
5     24
6     36
7     54
8     50
9     36
10    51
11    29
12    61
13    55
14    23
15    40
16    39
17    44
18    51
19    47
Name: age, dtype: object

In [28]:
a.apply(lambda x : (float(str(x).strip('(]').split(', ')[0])+ float(str(x).strip('(]').split(', ')[1]) )/2)

0     26.781
1     34.400
2     34.400
3     34.400
4     26.781
5     26.781
6     34.400
7     57.200
8     49.600
9     34.400
10    49.600
11    26.781
12    57.200
13    57.200
14    26.781
15    42.000
16    42.000
17    42.000
18    49.600
19    49.600
Name: age, dtype: category
Categories (5, float64): [26.781 < 34.400 < 42.000 < 49.600 < 57.200]

In [25]:
df['age'] = pd.cut(df['age'],5)

In [26]:
df['age']

0     (22.962, 30.6]
1       (30.6, 38.2]
2       (30.6, 38.2]
3       (30.6, 38.2]
4     (22.962, 30.6]
5     (22.962, 30.6]
6       (30.6, 38.2]
7       (53.4, 61.0]
8       (45.8, 53.4]
9       (30.6, 38.2]
10      (45.8, 53.4]
11    (22.962, 30.6]
12      (53.4, 61.0]
13      (53.4, 61.0]
14    (22.962, 30.6]
15      (38.2, 45.8]
16      (38.2, 45.8]
17      (38.2, 45.8]
18      (45.8, 53.4]
19      (45.8, 53.4]
Name: age, dtype: category
Categories (5, interval[float64]): [(22.962, 30.6] < (30.6, 38.2] < (38.2, 45.8] < (45.8, 53.4] < (53.4, 61.0]]

In [17]:
df['age'].apply(lambda x : 0)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: age, dtype: int64

In [20]:
df['age']

0     (22.962, 30.6]
1       (30.6, 38.2]
2       (30.6, 38.2]
3       (30.6, 38.2]
4     (22.962, 30.6]
5     (22.962, 30.6]
6       (30.6, 38.2]
7       (53.4, 61.0]
8       (45.8, 53.4]
9       (30.6, 38.2]
10      (45.8, 53.4]
11    (22.962, 30.6]
12      (53.4, 61.0]
13      (53.4, 61.0]
14    (22.962, 30.6]
15      (38.2, 45.8]
16      (38.2, 45.8]
17      (38.2, 45.8]
18      (45.8, 53.4]
19      (45.8, 53.4]
Name: age, dtype: category
Categories (5, interval[float64]): [(22.962, 30.6] < (30.6, 38.2] < (38.2, 45.8] < (45.8, 53.4] < (53.4, 61.0]]

In [33]:
if df['age'].dtype == 'category' :
    print('1')

TypeError: data type "category" not understood