In [104]:
import random
import pandas as pd

df = pd.read_csv("test.csv")
df

,일련번호,회원번호,이름,성별,나이,주소,생일,핸드폰번호,전년도 누적금액,전년도 누적 구매횟수,...,최종 주문시간,최종 주문 요일,주말여부,제품코드,대분류,중분류,세분류,제품이름,구매액,수량
0,1,100000001,김소유,F,55,대전 동구 용운동,11월 20일,990-3916-9336,381700,62,...,16:50,화,F,20837,1,8,2,여름 밴딩 팬츠 3종 남성용,63400,1.0
1,2,100000002,장상순,F,54,대전 동구 용운동,11월 20일,990-1832-3061,516000,59,...,9:20,월,F,20827,1,1,1,목이 개운한 3D 입체 베개2종,53300,1.0
2,3,100000003,문수영,M,32,경북 안동시 용상동,11월 19일,990-6448-9099,136047200,515,...,22:46,금,F,20262,2,10,1,블랙박스 32G,102500,1.0
3,4,100000004,김태린,F,68,서울 강서구 가양3동,5월 12일,990-4368-0858,40523200,864,...,4:08,일,T,20615,1,7,4,비데 최고급 리모컨비데,183500,1.0
4,5,100000005,장유나,F,66,서울 강서구 가양3동,5월 12일,990-6656-3757,44909000,2860,...,0:32,금,F,20615,1,7,4,비데 최고급 리모컨비데,193500,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,499996,100499996,김미녀,F,24,경기 고양시 가좌동,11월 5일,990-7792-9213,15555000,874,...,6:48,금,F,20427,3,2,2,사은품_라면:,0,1.0
499996,499997,100499997,지온율,F,52,강원 인제군 북면,8월 27일,990-8416-8731,979300,53,...,21:02,월,F,20666,1,18,3,더블세트 멀티수납장,150500,1.0
499997,499998,100499998,최필중,M,36,경기 시흥시 목감동,12월 31일,990-1736-6370,157900,6,...,20:04,금,F,20262,2,10,1,블랙박스 32G,103500,1.0
499998,499999,100499999,이재순,F,60,서울 마포구 망원동,1월 1일,990-4403-4596,22584200,2789,...,20:40,일,T,20792,2,12,1,무료체험 탈모샴푸,83300,1.0
499999,500000,100500000,박하랑,M,66,경기 고양시 일산3동,7월 8일,990-1312-9533,172700,6,...,13:40,수,F,20435,2,6,2,유기농 엑스트라버진 넛오일,71400,1.0

In [105]:
def K_anonymity(df, number): 
        try:
            number = int(number) ## 만약 숫자를 입력하지 않는  다면 예외처리!
        except NameError:
            print("Input number value!")
            pass
        
        list = ['주소','나이','성별'] ## 우리가 처리할 준식별정보
        ## list 는 준식별 정보를 담기 위해 for 문 사용 권장
        #print(df.groupby(list)[list[0]].count())
        #df['count'] = df.groupby(list)[list[0]].count()
        df['count'] = df.groupby(list)[list[0]].transform('size') ## list[0]으로 최소 칼럼 보장.
        #df['count'] = df.groupby(by=list, as_index=False).count() ## list[0]으로 최소 칼럼 보장.j
        #print(df.groupby(by=list, as_index=False).count())
        ##list의 데이터를 그룹화 한 후 list[0]으로 최소 집계해서 size를 구해 count에 결과 저장
        df = df.loc[df['count']>=number] 
        #number(k)보다 높거나 같은 size만 df에서 추출
        df_index = df.index ## 인덱스가 초기화 되므로 일련번호 저장
        ##일련 번호(맨 앞 0,1,2,3, 순서) 새로 초기화
        #print(df['count'])
        del df['count']
        df = df.set_index(df_index)
        return df

In [106]:
df1 = K_anonymity(df,3)
df1
##df1.to_csv("test2.csv", mode='w')

,일련번호,회원번호,이름,성별,나이,주소,생일,핸드폰번호,전년도 누적금액,전년도 누적 구매횟수,...,최종 주문시간,최종 주문 요일,주말여부,제품코드,대분류,중분류,세분류,제품이름,구매액,수량
0,1,100000001,김소유,F,55,대전 동구 용운동,11월 20일,990-3916-9336,381700,62,...,16:50,화,F,20837,1,8,2,여름 밴딩 팬츠 3종 남성용,63400,1.0
1,2,100000002,장상순,F,54,대전 동구 용운동,11월 20일,990-1832-3061,516000,59,...,9:20,월,F,20827,1,1,1,목이 개운한 3D 입체 베개2종,53300,1.0
2,3,100000003,문수영,M,32,경북 안동시 용상동,11월 19일,990-6448-9099,136047200,515,...,22:46,금,F,20262,2,10,1,블랙박스 32G,102500,1.0
3,4,100000004,김태린,F,68,서울 강서구 가양3동,5월 12일,990-4368-0858,40523200,864,...,4:08,일,T,20615,1,7,4,비데 최고급 리모컨비데,183500,1.0
4,5,100000005,장유나,F,66,서울 강서구 가양3동,5월 12일,990-6656-3757,44909000,2860,...,0:32,금,F,20615,1,7,4,비데 최고급 리모컨비데,193500,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,499995,100499995,김영민,M,69,경기 파주시 월롱면,11월 13일,990-4967-7021,441600,65,...,17:41,일,T,20416,1,16,8,프라이팬 7종,43400,1.0
499995,499996,100499996,김미녀,F,24,경기 고양시 가좌동,11월 5일,990-7792-9213,15555000,874,...,6:48,금,F,20427,3,2,2,사은품_라면:,0,1.0
499996,499997,100499997,지온율,F,52,강원 인제군 북면,8월 27일,990-8416-8731,979300,53,...,21:02,월,F,20666,1,18,3,더블세트 멀티수납장,150500,1.0
499998,499999,100499999,이재순,F,60,서울 마포구 망원동,1월 1일,990-4403-4596,22584200,2789,...,20:40,일,T,20792,2,12,1,무료체험 탈모샴푸,83300,1.0
499999,500000,100500000,박하랑,M,66,경기 고양시 일산3동,7월 8일,990-1312-9533,172700,6,...,13:40,수,F,20435,2,6,2,유기농 엑스트라버진 넛오일,71400,1.0